<div class="user_bookmark">
  <div class="question_data_wrapper">
    <ul class="question_data">
      <li class="question_stat">{{ question.score }} votes</li>
      <li class="question_stat">{{ question.answers.count }} answers</li>
      <li class="question_stat">{{ question.views }} views</li>
    </ul>
    <svg width="15" height="20" class="bookmark">
      <polygon id="bookmark_question_{{ question.id }}" points="0,0 0,20 7.5,15 15,20 15,0" fill="gold"/>
    </svg>
  </div>
  <h3>{{ question }}</h3>
  <div class="question_data_wrapper">
    <ul class="question_data">
    {% for tag in question.tags.all %}
      <li class="inline_linked tag bg-blue"><a class="inline_anchor" href='{% url "posts:tagged" tags=tag|lower %}'>{{ tag }}</a></li>
    {% endfor %}
    </ul>
    <p><a href="{% url 'authors:profile' id=question.profile.user.id %}">{{ question.profile.user }}</a> asked {{ question.date }}</p>
  </div>
</div>
