{% extends 'index.html' %}
{% load static %}
{% block page_content %}
  <div class="form_wrapper">
    <h2 class="page_form_title">{{ title }}</h2>
    <form name={{form}} class="user_credentials_form" method="post" action="{{ request.path }}">
      {% csrf_token %}
    {% for field in form %}
      <fieldset>
        <p class="input_label">{{ field.label }}</p>
        {{ field }}
      </fieldset>
    {% endfor %}
      <button name="button" id="account_submit_btn" class="submit_btn">Sign up</button>
    </form>
    {% if request.resolver_match.url_name == "register" %}
      {% include './requirements.html' %}
    {% endif %}
  </div>
  <script type="module" src="{% static 'authors/js/fillout.js' %}"></script>
{% endblock %}
