{% extends 'index.html' %}
{% load static %}
{% block page_content %}
  {{ block.super }}
  <h1>{{ title }}</h1>
  <form id="api_user_search_form" novalidate>
    {% for field in form %}
      {{ field }}
    {% endfor %}
  </form>
  <div class="user_listing_container">
    <div class="users_list">
      {% if not page %}
        <p class="empty_user_result">No users matched your search</p>
      {% else %}
        {% for user in page %}
          <div class="user_listing_data">
            <p><a href="{% url 'authors:profile' id=user.id %}">{{ user }}</a></p>
            <p class="user_subdata">Signed Up: {{ user.date_joined|date:"n/j/Y" }}</p>
            <p class="user_subdata">Last Login: {{ user.last_login|date:"n/j/Y" }}</p>
            <p class="user_subdata">{{ user.post_count }} Post{{ user.post_count|pluralize }}</p>
            <!-- <p class="user_subdata">Last post: {{ user.last_post|date:"n/j/Y" }}</p> -->
          </div>
        {% endfor %}
      {% endif %}
    </div>
  {% include 'posts/paginated.html' %}
  </div>
  <script src="{% static 'authors/js/listings.js' %}"></script>
{% endblock %}
