{% extends 'index.html' %}
{% load static %}
{% load listings %}
{% block user_page_content %}
  <div class="user_data_wrapper">
    <section class="posting_data">
      <h2>{{ user }}</h2>
      {% block user_data %}
        <div class="user_data">
          <ul class="page_options">
          {% for page in page_options %}
            <li><a href="{% url 'authors:profile' id=user.id%}?tab={{ page|lower }}">{{ page }}</a></li>
          {% endfor %}
          </ul>
          <h3>{{ title }}</h3>
          {% if request.resolver_match.url_name != "summary" %}
            <ul class="user_data_query_options">
            {% for page_query_button in query_buttons %}
              <li><a href="{% url 'authors:user_data' %}?sort={{ page_query_button }}">page_query_button</a></li>
            {% endfor %}
            </ul>
          {% endif %}
          <div class="posts_listing">
            <div class="mobile_page_options_wrapper">
              <p>View all activity pages</p>
              <form action="{% url 'authors:profile' id=user.id %}" class="mobile_page_options" method="get">
                {% for field in form %}
                  {{ field }}
                {% endfor %}
              </form>
            </div>
          {% if query_page_filter == "summary" %}
            {% include './summary.html' %}
          {% else %}
            {% for post in posts %}
              {% if query_page_filter == "questions" %}
                {% include './questions.html' with question=post only %}
              {% elif query_page_filter == "answers" %}
                {% include './answers.html' with answer=post only %}
              {% elif query_page_filter == "bookmarks" %}
                {% include './bookmarks.html' with bookmark=post only %}
              {% endif %}
            {% endfor %}
            <div class="page_nav_buttons">
              {% if posts.has_previous %}
                <div class="nav_button">
                  {% with previous_page_url=previous_page_url %}
                    <a href="{{ previous_page_url }}"><svg width="25" height="25">
                      <polygon points="0,12.5 25,25 25,0" fill="orange"></polygon>
                    </svg></a>
                  {% endwith %}
                  <p>Previous Page</p>
                </div>
              {% endif %}
              {% if page.has_next %}
                <div class="nav_button">
                  <p>Next Page</p>
                  {% with next_page_url=next_page_url %}
                    <a href="{{ next_page_url }}"<svg width="25" height="25">
                      <polygon points="0,0 0,25 25,12.5" fill="orange"></polygon>
                    </svg></a>
                  {% endwith %}
                </div>
              {% endif %}
            </div>
          {% endif %}
          </div>
        </div>
      {% endblock %}
    </section>
  </div>
{% endblock %}
