{% extends 'index.html' %}
{% load static %}
{% load listings %}
{% load identifiers %}
{% block user_page_content %}
  <div class="user_data_wrapper">
    <section class="posting_data">
      <h2 class="profile_user">{{ object }}</h2>
      {% block user_data %}
        <div class="user_data">
          <ul class="page_options">
          {% for page in page_options %}
            <li class="queried_post"><a href="{% url 'authors:profile' id=object.id%}?tab={{ page|lower }}">{{ page }}</a></li>
          {% endfor %}
          </ul>
          <h3>{{ title }}</h3>
          {% if request.resolver_match.url_name != "summary" %}
            <ul class="user_data_query_options non_mobile">
            {% for query_tab in query_tabs %}
              <li class="query_box"><a href="{% url 'authors:profile' id=object.id %}?tab={{ page_query_filter }}&sort={{ query_tab }}">{{ query_tab }}</a></li>
            {% endfor %}
            </ul>
          {% endif %}
          <div class="posts_listing">
            <div class="mobile_page_options_wrapper">
              {% if request.resolver_match.url_name != "summary" %}
                <ul class="user_data_query_options mobile">
                {% for query_tab in query_tabs %}
                  <li class="query_box"><a href="{% url 'authors:profile' id=object.id %}?sort={{ query_tab }}">{{ query_tab }}</a></li>
                {% endfor %}
                </ul>
              {% endif %}
              <p>View all activity pages</p>
              <form action="{% url 'authors:profile' id=object.id %}" class="mobile_page_options" method="get">
                {% for field in form %}
                  {{ field }}
                {% endfor %}
              </form>
            </div>
          {% if query_page_filter == "summary" %}
            {% include './summary.html' %}
          {% else %}
            <div class="summary_listing">
            {% if not page.object_list %}
              {% include "./empty.html" %}
            {% else %}
              {% for post in page %}
                {% if page_query_filter == "questions" %}
                  {% include 'posts/viewed_question.html' with question=post class="user_bookmark" %}
                {% elif page_query_filter == "answers" %}
                  {% include './answers.html' with answer=post only %}
                {% elif page_query_filter == "tags" %}
                  {% include './tags.html' with tag=post only %}
                {% elif page_query_filter == "bookmarks" %}
                  {% include './bookmark.html' with question=post.question %}
                {% endif %}
              {% endfor %}
            {% endif %}
            </div>
            <div class="page_nav_buttons">
              {% if page.has_previous %}
                <a class="paginated_nav_btn" href="{% set_previous_page_url page %}">Previous</a>
              {% endif %}
              {% if page.has_next %}
                <a class="paginated_nav_btn" href="{% set_next_page_url page %}">Next</a>
              {% endif %}
            </div>
          {% endif %}
          </div>
        </div>
      {% endblock %}
    </section>
  </div>
  <script src="{% static 'authors/js/query.js' %}"></script>
  {% if request.resolver_match.url_name != "summary" %}
    <script src="{% static 'authors/js/tabbed.js' %}"></script>
  {% endif %}
{% endblock %}
