  <div id="user_questions" class="postings">
    <div class="post_type_title">
      <h3>Questions</h3>
      {% if question.records.count == 5 %}
        <p><a href="{{ url.profile_questions }}">View all {{ question.title }}</a></p>
      {% endif %}
    </div>
    <div class="linked_posts">
      {% if not question.records %}
        <p class="empty_post_data">No question posts</p>
      {% else %}
      <ul>
      {% for question in question.records %}
        <li class="preview_post"><span class="post_data score_box">{{ question.score }}</span><a href="{% url 'posts:question' question_id=question.id %}/">{{ question|truncatechars:35 }}</a><span class="post_data dated_span">{{ question.date|date:"n/j/y" }}</span></li>
      {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div><div id="user_answers" class="postings">
    <h3>Answers</h3>
    {% if answer.records.count == 5 %}
      <p><a href="{{ url.profile_answers }}">View all {{ answer.title }} answers</a></p>
    {% endif %}
    <div class="linked_posts">
      {% if not answer.records %}
        <p class="empty_post_data">No answer posts</p>
      {% else %}
      <ul>
      {% for answer in answer.records %}
        <li class="preview_post"><span class="post_data score_box">{{ answer.score }}</span><a href="{% url 'posts:question' question_id=answer.question.id %}/">{{ answer.question|truncatechars:35 }}</a><span class="post_data dated_span">{{ answer.question.date|date:"n/j/y" }}</span></li>
      {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div><div id="user_tags" class="postings">
    <h3>Tags</h3>
    {% if tag.records.count == 5 %}
      <p><a href="{{ url.profile_tags }}">View all {{ tag.title }}</a></p>
    {% endif %}
    <div class="linked_posts">
      {% if not tag.records %}
        <p class="empty_post_data">No tag posts</p>
      {% else %}
        {% for tag in tag.records %}
          <div class="tag_data">
            <a class="linked indent tag bg-blue" href="{% url 'posts:tagged' tags=tag %}">{{ tag }}</a>
            <p class="tag_count">{{ tag.times_posted }} posts</p>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div><div id="user_bookmarks" class="postings">
    <h3>Bookmarks</h3>
    {% if bookmark.records.count == 5 %}
      <p><a href="{{ url.profile_bookmarks }}">View all {{ tags.count }} bookmarks</a></p>
    {% endif %}
    <div class="linked_posts">
      {% if not bookmark.records %}
        <p class="empty_post_data">No bookmarked posts</p>
      {% else %}
        {% for bookmark in bookmark.records %}
          <div class="bookmark_data">
            <p class="bookmark_score"><span class="post_data score_box">{{ bookmark.question.score }}</span> <a href="{% url 'posts:question' question_id=bookmark.question.id %}/">{{ bookmark.question|truncatechars:35 }}</a><span class="post_data dated_span">{{ bookmark.question.date|date:"n/j/y" }}</span></p>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="vote_data_wrapper">
    <h3>Votes Cast</h3>
    <div class="vote_data">
      <div class="vote_stat">{{ votes.like }} <span class="vote_type">likes</span></div><div class="vote_stat">{{ votes.dislike }} <span class="vote_type">dislikes</span></div><div class="vote_stat">{{ votes.questions }} <span class="vote_type">question votes</span></div><div class="vote_stat">{{ votes.answers }} <span class="vote_type">answer votes</span></div>
    </div>
  </div>
