

.query_button:active {
  box-shadow: inset 0px 0px 2px 1px darkgrey;
}

.hide_mkd_block {
  display: none;
}

.menu_style {
  border: 1px solid lightgrey;
  padding: 5px;
}

.undelete {
  color: red;
}

.post_draft {
  margin-top: 10px;
}

@media screen and (min-width: 400px) {


  /*---------------
    page title layout
  --------------*/

  .title_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 90%; */
    margin: 60px auto 0;
  }


  /*---------------
    query buttons lqyout
  --------------*/

  .query_buttons {
    display: flex;
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
  }

  .query_button {
    flex: 1;
    text-align: center;
    line-height: 2.5;
    border: 1px solid lightgrey;
    transition: box-shadow 200ms linear;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .query_buttons a {
    color: black;
    width: 100%;
    height: 40px;
  }

  /*---------------
    page_content
  ---------------*/

  .main_content_wrapper {
    position: relative;
  }

  .content_posting,
  .form_fieldset_widget:nth-of-type(3) {
    margin-top: 20px;
  }

  .adjust_box {
    resize: vertical;
    margin-top: 10px;
  }

  .question_posting_form {
    margin: 30px auto;
    width: 90%;
  }

  .question_input_shade {
    outline: none;
    border: 1px solid lightgrey;
  }

  .form_fieldset_widget {
    margin-top: 10px;
  }

  .form_fieldset_widget:nth-of-type(3) {
    margin-top: 10px;
  }

  .mk_item {
    display: inline-block;
    margin-left: 10px;
  }

  .mk_item:first-child {
    margin-left: 0;
  }

  .content_wrapper {
    /* width: 90%;
    margin: auto; */
  }

  .page_footer {
    margin: 25px auto 0;
    width: 90%;
  }

  .empty_listing {
    margin-top: 50px;
    text-align: center;
    line-height: 1.5;
  }

  /* .page_through_wrapper {
    margin: 15px auto 0;
  } */

  .active_page {
    padding: 3.75px 7.5px;
    background: darkorange;
    color: white;
  }

  .inactive_page {
    padding: 3.75px 7.5px;
    background: white;
    color: black;
    border: 1px solid lightgrey;
  }

  .temp_removed {
    position: absolute;
    width: 450px;
    top: 0;
    bottom: 0;
    background: lightpink;
    margin-top: 140px;
    top: 0;
    bottom: 0;
    background: lightpink;
    opacity: 0.5;
    z-index: 1;
  }


  .delete_message {
    margin-bottom: 10px;
  }


  .main_pagination {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  /*-------------
    question content
  ------------*/

  .content_wrapper {
    margin-top: 20px;
  }

  .page_stats {
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
  }

  .page_stat {
    display: inline-block;
    margin-bottom: 10px;
  }

  .stat {
    display: inline-block;
    margin: 0 10px 10px 0;
  }

  .user_question_info {
    margin-top: 20px;
  }

  .authored_by {
    text-align: right;
  }

  .post_profile_author {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
  }

  .user_login_message {
    margin-top: 30px;
  }

  /*------------

    tags
  ------------*/

  .linked {
    color: blue;
  }

  .tag {
    padding: 2.5px 5px;
    font-size: 12px;
    /* font-weight: bold; */
  }

  .inline_tags_author {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
  }

  .question_title {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .rating_box {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
  }

  .vote {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    margin-right: 15px;
  }

  .vote > p {
    /* background: red; */
    text-align: center;
  }

  .vote_button {
    width: 30px;
    height: 20px;
  }

  .post_body_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 1.5;
    min-height: 100px;
  }

  .post_option {
    display: inline-block;
  }

  .post_option:not(:first-child) {
    margin-left: 5px;
    position: relative;
    z-index: 3;
  }

  .post_option:not(:first-child):hover {
    cursor: pointer;
  }

  .posted_score {
    margin: 5px 0;
  }

  .post_profile_author > p {
    font-size: 12px;
  }

  .tagging {
    /* display: inline-block; */
    margin-top: 20px;
  }

  .option_list {
    margin: 20px 0 0 0;
    width: 65%;
    list-style: none;
    padding: 0;
    font-size: 14px;
  }

  .post_user_info {
    width: 35%;
    text-align: right;
  }

  .post_body_content["id=*comment"] {
    margin-left: 20px;
  }

  .option_list,
  .post_user_info {
    display: inline-block;
    vertical-align: bottom;
  }

  .post_user_info > p {
    /* display: inline-block; */
  }

  .question_answers {
    margin-top: 30px;
  }

  .total_answers {
    margin: 10px 0;
  }

  .posted_answer_form {
    margin-top: 30px;
  }
}


@media screen and (min-width: 600px) {


  /*---------------
    page title layout
  --------------*/

  .title_container {
    margin: 15px auto 0;
  }

  .content_wrapper, .page_title_context {
    max-width: 540px;
    margin: auto;
  }

  /*---------------
    query buttons lqyout
  --------------*/

  .query_buttons {
    position: static;
    justify-content: flex-end;
    /* width: 90%; */
    margin: 10px auto 0;
  }

  .query_button {
    flex: none;
    text-align: center;
    line-height: 2.5;
    padding: 1.25px 15px;
  }

  .query_button:not(:last-child) {
    border-right: none;
  }

}


@media screen and (min-width: 675px) {
  .temp_removed {
    margin-top: 170px;
    width: 490px;
  }
}
