{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'posts/css/post_styles.css' %}" />
    <link rel="stylesheet" href="{% static 'authors/css/authors_styles.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
  </head>
  <body id="page_body" class="site_page">
    <header class="searchbar">
      <!-- wraps the form widget and help text to the same width -->
      <div class="search_query_container">
        <!-- svg icon absolutely positioned to sit inline with form widget  -->
        <div class="icon_search_form">
          <form class="search_form" method="get" action="{% url 'posts:search_results' %}">
          {% for field in search_form %}
            {{ field }}
          {% endfor %}
          </form>
          <!-- <svg class="icon">

          </svg> -->
        </div>
        <ul class="list hide query_help_tips">
          <li class="search_tip">[ tag ] <span class="tip_style">search within a tag</span></li><li class="search_tip">user:0123<span class="tip_style"> search by user</span></li><li class="search_tip">title: 'words here' <span class="tip_style">search by title</span></li>
        </ul>
      </div><nav class="main_site_nav">
      {% if user.is_authenticated %}
        <a href="{% url 'posts:main' %}" class="btn nav_btn">Home</a><a href="{% url 'authors:profile' id=request.user.id %}" class="btn nav_btn">Profile</a><a href="{% url 'authors:logout' %}" class="btn nav_btn">Logout</a>
      {% else %}
        <a href="{% url 'posts:main' %}" class="btn nav_btn">Home</a><a href="{% url 'authors:register' %}" class="btn nav_btn">Register</a><a href="{% url 'authors:login' %}" class="btn nav_btn">Login</a>
      {% endif %}
      </nav>
    </header>
    {% if request.resolver_match.url_name == "profile" %}
      <section>
      {% block user_page_content %}{% endblock %}
      <section>
    {% else %}
      <section class="content_box">
      {% block page_content %}{% endblock %}
      </section>
    {% endif %}
    <script src="{% static 'js/navigate.js' %}"></script>
  </body>
</html>
