
.widget_style {
  outline: none;
  border: 1px solid lightgrey;
  padding-left: 10px;
}

.submit_btn {
  width: 375px;
  height: 40px;
  margin: 0 auto 30px;
  text-decoration: none;
}

.input_label {
  margin-left: 15px;
  margin-bottom: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.post_data {
  margin: 10px;
  display: inline-block;
}

@media screen and (min-width: 400px) {

  fieldset {
    margin-top: 10px;
  }

  /* .user_data_wrapper {
    margin-top: 25px;
  } */

  .form_wrapper {
    width: 400px;
    margin: 80px auto 0;
  }

  .user_credentials_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid lightgrey;
    /* height: 350px; */
  }

  .user_form_input {
    display: block;
    margin: 0px 12.5px 15px;
    height: 40px;
    width: 375px;
  }

  .page_form_title {
    margin-bottom: 25px;
  }

  .linked_posts {
    border: 1px solid;
    max-width: 450px;
    margin: 15px auto 0;
  }

  .linked_posts > ul {
    list-style: none;
    padding: 0;
    margin: auto;
  }

  .linked_posts > li {
    width: 100%;
  }

  .score_box {
    padding: 2.5px 5px;
    border: 1px solid;
  }

  .dated_span {
    align-self: flex-end;
  }

  .postings {
    max-width: 450px;
    margin: 20px auto;
  }


  .tag_data {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .tag_count {
    margin: 10px 40px 10px 10px;
  }

  .indent {
    margin-left: 20px;
  }

  .vote_data_wrapper {
    margin: 10px auto;
    width: 450px;
    font-size: 12px;
  }

  .vote_data {
    border: 1px solid;
    margin-top: 15px;
    padding: 10px;
  }

  .vote_stat {
    display: inline-block;
    width: 25%;
  }

  .vote_type {
    display: block;
  }

  .posting_data {
    max-width: 650px;
    margin: 25px auto;
  }

  .empty_post_data {
    text-align: center;
    margin: 10px;
  }

  .mobile_page_options_wrapper {
    margin: 20px auto;
    max-width: 450px;
  }

  .profile_sort_menu {
    width: 100%;
    width: 450px;
  }

  .page_options {
    display: none;
  }
}

@media screen and (min-width: 675px) {

  .posting_data {
    max-width: 650px;
    margin: 100px auto 0;
  }

}

@media screen and (min-width: 800px) {

}


@media screen and (min-width: 850px) {

  .posting_data {
    max-width: 800px;
    /* text-align: center; */
    margin: 100px auto;
  }

  .postings {
    display: inline-block;
    vertical-align: top;
    width: 380px;
    margin: 10px;
    font-size: 14px;
  }

  .postings:last-child {
    text-align: left;
  }

  .mobile_page_options_wrapper {
    display: none;
  }

  .page_options {
    display: block;
    list-style: none;
    padding: 0;
    /* margin-top: 100px; */
    margin-left: 10px;
  }

  .page_options > li {
    display: inline-block;
  }

  .page_options > li:not(:first-child) {
    margin: 0 10px;
  }



}
.error_status {
  border: 1px solid red;
}

.valid_status {
  border: 1px solid lime;
}
