

.active {
  background: lightgrey;
  padding: 5px 10px;
  border-radius: 10px;
}

.selected_index {
  background: lightgrey;
}

.tag_data_wrapper {
  width: 200px;
  display: flex;
  align-items: center;
}


.widget_style {
  outline: none;
  border: 1px solid lightgrey;
  padding-left: 10px;
}

.submit_btn {
  width: 375px;
  height: 40px;
  margin: 0 auto 30px;
  text-decoration: none;
}

.input_label {
  margin-left: 15px;
  margin-bottom: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.post_data {
  margin: 10px;
  display: inline-block;
}

.no_data {
  text-align: center;
  padding: 20px;
}

@media screen and (min-width: 400px) {

  .profile_answer {
    border-top: 1px solid;
    border-bottom: 1px solid;
  }

  .profile_answer:first-child {
    border: none;
  }

  .profile_answer:last-child {
    border-bottom: none;
    border-left: none;
    border-right: none;
  }

  .answer_content {
    padding: 10px;
  }

  .answer_score,
  .answered_question {
    margin: 5px 0;
  }

  .user_tag {
    display: flex;
    justify-content: space-between;
  }

  .main_tag_data {
    margin: 10px;
  }

  .main_tag_data:first-child {
    margin-left: 50px;
  }

  .main_tag_data:last-child {
    margin-right: 50px;
  }

  .page_nav_buttons {
    display: flex;
    justify-content: center;
  }

  .mobile {
    display: flex;
    justify-content: end;
    margin: 10px 0 0 auto;
  }

  .non_mobile {
    display: none;
    margin: 10px auto;
  }


  fieldset {
    margin-top: 10px;
  }

  /* .user_data_wrapper {
    margin-top: 25px;
  } */

  /* .mobile_user_data_query_options {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: end;
  } */

  .user_data_query_options {
    list-style: none;
    max-width: 95%;
  }

  .user_data_query_options > li {
    padding: 5px 10px;
  }

  .user_data_query_options > li:first-child,
  .user_data_query_options > li:nth-child(2) {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
  }

  .user_data_query_options > li:last-child {
    border: 1px solid;
  }


  .nav_button {
    display: flex;
    align-items: center;
  }

  .form_wrapper {
    width: 400px;
    margin: 80px auto 0;
  }

  .user_credentials_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid lightgrey;
    /* height: 350px; */
  }

  .user_form_input {
    display: block;
    margin: 0px 12.5px 15px;
    height: 40px;
    width: 375px;
  }

  .page_form_title {
    margin-bottom: 25px;
  }

  .linked_posts {
    border: 1px solid;
    max-width: 450px;
    margin: 15px auto 0;
  }

  .linked_posts > ul {
    list-style: none;
    padding: 0;
    margin: auto;
  }

  .linked_posts > li {
    width: 100%;
  }

  .score_box {
    padding: 2.5px 5px;
    border: 1px solid;
  }

  .dated_span {
    align-self: flex-end;
  }

  .postings {
    max-width: 450px;
    margin: 20px auto;
  }


  .tag_data {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .tag_count {
    margin: 10px 40px 10px 10px;
  }

  .indent {
    margin-left: 20px;
  }

  .vote_data_wrapper {
    margin: 10px auto;
    width: 450px;
    font-size: 12px;
  }

  .vote_data {
    border: 1px solid;
    margin-top: 15px;
    padding: 10px;
  }

  .vote_stat {
    display: inline-block;
    width: 25%;
  }

  .vote_type {
    display: block;
  }

  .posting_data {
    max-width: 650px;
    margin: 25px auto;
  }

  .empty_post_data {
    text-align: center;
    margin: 10px;
  }

  .mobile_page_options_wrapper {
    margin: 20px auto;
    max-width: 450px;
  }

  .profile_sort_menu {
    width: 100%;
    width: 450px;
  }

  .page_options {
    display: none;
  }

  .summary_listing {
    border: 1px solid grey;
    max-width: 95%;
    margin: 10px auto;
  }

  .user_bookmark {
    padding: 10px;
  }

  .question_data_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 5px;
  }

  .question_data {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .question_data, .bookmark {
    margin-top: 10px;
  }

  .question_data > li {
    display: inline-block;
  }

  .question_stat {
    margin-right: 5px;
  }

  .user_bookmark:not(:last-child) {
    border-bottom: 1px solid grey;
  }

  .profile_user {
    margin-left: 20px;
  }

  /* .user_listing {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
  } */

  .hide {
    display: none;
  }

  .users_list {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
  }

  .user_listing_data {
    height: 75px;
    width: 130px;
    margin: 10px 20px 10px 0;
  }

  .user_listing_data > p {
    font-size: 12px;
  }

  .user_listing_data:first-child,
  .user_listing_data:nth-child(2),
  .user_listing_data:nth-child(3) {
    margin-top: 10px;
  }

  .empty_user_result {
    text-align: center;
    border: 2px solid;
    padding: 10px;
    margin-top: 20px;
  }

  /* .user_listing_data:nth-child(4n) {
    margin: 10px 10px 10px 0;
  }

  .user_listing_data:nth-child(6n) {
    margin: 10px 0px 10px 10px;
  } */
}

@media screen and (min-width: 675px) {

  /* .mobile {
    display: none;
  } */

  .posting_data {
    max-width: 650px;
    margin: 100px auto 0;
  }

}

@media screen and (min-width: 800px) {

}


@media screen and (min-width: 850px) {

  .non_mobile {
    display: flex;
    justify-content: end;
  }

  .mobile {
    display: none;
  }

  .posting_data {
    max-width: 800px;
    /* text-align: center; */
    margin: 100px auto;
  }

  .postings {
    display: inline-block;
    vertical-align: top;
    width: 380px;
    margin: 10px;
    font-size: 14px;
  }

  .postings:last-child {
    text-align: left;
  }

  .mobile_page_options_wrapper {
    display: none;
  }

  .page_options {
    display: block;
    list-style: none;
    padding: 0;
    /* margin-top: 100px; */
    margin-left: 20px;
  }

  .page_options > li {
    display: inline-block;
  }

  .page_options > li:not(:first-child) {
    margin: 0 10px;
  }



}
.error_status {
  border: 1px solid red;
}

.valid_status {
  border: 1px solid lime;
}
