
* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
  /* font-size: 12px; */
}

a {
  text-decoration: none;
}

.block_anchor {
  text-decoration: none;
  display: block;
}

.inline_anchor {
  display: inline-block;
}

.search_tip {
  padding-left: 20px;
  margin: 10px 0;
  font-size: 14px;
}

.tip_style {
  font-size: 13px;
  color: grey;
}

blockquote {
  font-style: italic;
  /* text-decoration: underline; */
  padding-left: 10px;
}

.block_code_snippet {
  background: silver;
  font-size: 12px;
  padding: 1.25px 5px;
}

.fill_block_width {
  display: block;
  width: 100%;
}

.mk_list_item {
  text-indent: 20px;
}

.field_help_text {
  margin-top: 10px;
}

p {
  font-size: 14px;
}

.active_query {
  background: silver;
}

.btn {
  display: block;
  text-decoration: none;
}

.ask_btn {
  line-height: 2.5;
  padding: 1.25px 10px;
  background: dodgerblue;
  color: white;
  border-radius: 3px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.non_field_errors {
  margin-top: 10px;
}

.orange-stroke {
  border-top: 3px solid darkorange;
}

.grey_bg {
  background: ghostwhite;
}

.blk_link {
  color: black;
}

.answered_post {
  color: green;
  padding: 2.5px;
  border: 1px solid;
}


.error_status {
  border: 1px solid red;
}

.valid_status {
  border: 1px solid green;
}

.default_status {
  border: 1px solid lightgrey;
}

.bg-blue {
  background: lightblue;
}

.mk_font {
  font-size: 12px;
}

.not_voted {
  fill: silver;
}

.voted {
  fill: darkorange;
}

.form_field_errors {
  /* list-style: none; */
  /* padding: 0; */
  margin: 10px auto 0;
}

@media screen and (min-width: 400px) {

  /*---------------
    searchbar
  ---------------*/

  .searchbar {
    width: 100%;
    height: 50px;
    margin: 0;
  }

  .search_query_container {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
  }

  .search_query_widget {
    display: block;
    width: 100%;
    height: 50px;
    padding-left: 50px;
    outline: none;
    border: 1px solid lightgrey;
  }

  .query_help_tips {
    position: absolute;
    width: 100%;
    border: 1px solid lightgrey;
    z-index: 3;
    background: white;
  }

  .hide {
    visibility: hidden;
  }

  /*---------------
    main nav
  --------------*/

  .main_site_nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;
    background: lightgrey;
  }

  .nav_btn {
    display: inline-block;
    width: 33.33%;
    text-align: center;
    line-height: 3;
  }

  /*------------
    main content
  -------------*/

  /* .content_box {
    margin: 0 20px;
    word-break: break-word;
    outline: none;
  } */

  .tag_boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .inline_linked {
    margin-top: 10px;
    display: inline-block;
  }

  .inline_linked:not(:first-child) {
    margin-left: 5px;
  }

  .inline_tag_input {
    width: 32%;
    outline: none;
  }

  .inline_tag_input:nth-of-type(1),
  .inline_tag_input:nth-of-type(2) {
    margin-top: 10px;
    margin-right: auto;
  }

  .inline_tag_input:nth-of-type(3) {
    margin-top: 10px;
  }


  .inline_tag_input:nth-of-type(4) {
    margin-right: auto;
    margin-top: 10px;
  }

  button {
    margin-top: 10px;
    display: block;
  }

  #id_title {
    margin-top: 10px;
  }


  .content_box {
    max-width: 450px;
    margin: auto;
  }

  .search_tag {
    background: lightblue;
    color: blue;
    display: inline-block;
    padding: 2.5px 5px;
    margin: 0 2.5px;
  }

}

@media screen and (min-width: 675px) {

  /*---------------
    searchbar
  ---------------*/

  .searchbar {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: white;
    width: 100%;
    top: 0;
    box-shadow: 0px 0px 2px 1px silver;
    z-index: 10;
  }

  .search_query_container {
    width: 375px;
    margin-left: 45px;
    position: static;
    /* margin: auto; */
  }


  .search_query_widget {
    height: 35px;
  }


  .main_site_nav {
    position: static;
    display: inline-block;
    width: initial;
    /* margin-left: 40px; */
  }

  .nav_btn:first-child {
    margin-left: 5px;
  }

  .nav_btn {
    width: 70px;
    padding: 5px 0px;
    /* margin: auto 10px; */
    margin-right: 5px;
    line-height: 1.25;
    background: ghostwhite;
    border: 1px solid silver;
  }

  /*--------------
    main content
  ---------------*/

  .content_box {
    max-width: 490px;
    margin: 100px auto;
  }

}


@media screen and (min-width: 805px) {

  .searchbar {
    margin: auto;
  }

  .search_form {
  }

}
