{% load static %}
{% load identifiers %}
<h3>{{ count }} questions</h3>
{% for question in questions %}
  {% include './viewed_question.html' with class="user_question_info" %}
{% endfor %}
{% if request.resolver_match.url_name == "main" %}
  <h3 class="page_footer">Looking for more? Browse the <a href="{% url 'posts:main_paginated' %}?tab=newest">complete list of questions</a>. Help us answer <a href="{% url 'posts:main_paginated' %}?tab=unanswered">unanswered questions</a>.</h3>
{% else %}
  {% include "./paginated.html" %}
{% endif %}
<script src="{% static 'posts/js/listing.js' %}"></script>
