{% load static %}
{% load identifiers %}
<h3>{{ count }} questions</h3>
{% for question in questions %}
  <div class="user_question_info">
    <div class="question_stats">
      <p class="stat">{{ question.score }} vote{{ question.score|pluralize }}</p>{% if question.answers.count %}<p class="stat answered_post">{{ question.answers.count }} answer{{ question.answers.count|pluralize  }}</p>{% else %}<p class="stat">{{ question.answers.count }} answer{{ question.answers.count|pluralize  }}</p>{% endif %}<p class="stat">{{ question.views }} view{{ question.score|pluralize  }}</p>
    </div>
    <div class="question_content">
      <h3><a class="linked" href="{% url 'posts:question' question_id=question.id %}">{{ question.title }}</a></h3>
      {% if request.resolver_match.url_name != "main" %}
        <p>{{ question.body|truncatewords:25 }}</p>
      {% endif %}
      <div class="inline_tags_author">
        <div class="linked_tags_list">
        {% for tag in question.tags.all %}
          <a class="linked tag bg-blue" href="{% url 'posts:tagged' tags=tag|lower %}">{{ tag }}</a>
        {% endfor %}
        </div>
        <p class="authored_by"><a href="{% url 'authors:profile' id=question.profile.id %}">{{ question.profile.user }}</a> {% if question.answers.count %}answered{% else %}asked{% endif %} {{ question.date|timesince }} ago</p>
      </div>
    </div>
  </div>
{% endfor %}
{% if request.resolver_match.url_name == "main" %}
  <h3 class="page_footer">Looking for more? Browse the complete list of questions. Help us answer <a href="{% url 'posts:main_paginated' %}">unanswered questions</a>.</h3>
{% else %}
  <div class="main_pagination">
    <div class="page_through_wrapper">
    {% if questions.has_previous %}
      <a class="inactive_page" href="{% set_previous_page_url page=questions %}">Prev</a>
    {% endif %}
    {% for page in page_links %}
      {% if page.number == questions.number %}
        <a class="active_page page_num" href="{% set_page_number_url page=page %}">{{ page.number }}</a>
      {% else %}
        <a class="inactive_page page_num" href="{% set_page_number_url page=page %}">{{ page.number }}</a>
      {% endif %}
    {% endfor %}
    {% if questions.has_next %}
      <a class="inactive_page" href="{% set_next_page_url page=questions %}">Next</a>
    {% endif %}
    </div>
    <div class="page_range_options_wrapper">
      {% if request.GET.pagesize not in page_listing_limits %}
        {% for limit in page_listing_limits %}
          {% if forloop.counter0 == 0 %}
            <a class="active_page page_num" href="{% set_page_number_url limit=limit %}">{{ limit }}</a>
          {% else %}
            <a class="inactive_page page_num" href="{% set_page_number_url limit=limit %}">{{ limit }}</a>
          {% endif %}
        {% endfor %}
      {% else %}
        {% for limit in page_listing_limits %}
          {% if limit == request.GET.pagesize %}
            <a class="active_page page_num" href="{% set_page_number_url limit=limit %}">{{ limit }}</a>
          {% else %}
            <a class="inactive_page page_num" href="{% set_page_number_url limit=limit %}">{{ limit }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
      <span>per page</span>
    </div>
  </div>
{% endif %}
<script src="{% static 'posts/js/listing.js' %}"></script>
