<div class="post_formatating_container">
  <ul id="mkdown_options" class="list grey_bg">
    <li class="mk_item">Links</li><li class="mk_item">Styling
    </li><li class="mk_item">Lists</li><li class="mk_item">Blockquotes
    </li><li class="mk_item">Code</li>
  </ul>
  <div class="markdown_breakdown">
    <div id="mkd_links" class="hide_mkd_block menu_style">
      <p><b>Inline links</b></p>
      <pre class="mk_font">
To create an inline link within your post content, add a set of square brackets
which includes a title of the URL that you are linking to. Next, add a set of
parantheses to include the URL or which the link will direct to.

[link title](url) ====> <a href=url>link title</a>
      </pre>
    </div>
    <div id="mkd_styling" class="hide_mkd_block menu_style">
      <p><b>Paragraphs</b></p>
      <pre class="mk_font">
Paragraphs are separated with a blank line both above and below
1 and more consecuative lines of text. To create a line break at the end of a line,
create two spaces and press the "return" key.
      </pre>
      <p><b>Inline styling</b></p><br>
      <pre class="list mk_font">
<i>Italic</i>: <code>*hello world*</code> or <code>_hello world_</code>
<b>Bold</b>: <code>**hello world**</code> or <code>__hellow world__</code>
<b><i>Italic & Bold</i></b>: <code>***hello world***</code> or <code>__*hello world*__</code>
      </pre><br>
      <p><b>Page headings</b></p><br>
      <pre class="list mk_font">
<code># Heading 1</code>
<code>## Heading 2</code>
<code>### Heading 3</code>
      </pre>
    </div>
    <div id="mkd_lists" class="hide_mkd_block menu_style">
      <p><b>An unordered (bullet) list</b></p><br>
      <pre class="mk_font">
* Item A
* Item B
* Item C
      </pre>
      <p><b>An orderered list</b></p><br>
      <pre class="mk_font">
1. Item A
2. Item B
3. Item C
      </pre>
    </div>
    <div id="mkd_blockquotes" class="hide_mkd_block menu_style">
      <p><b>Start each line with a <code>></code> to declare a blockquote</b></p><br>
      <pre class="mk_font">
> Content here is now considered a blockquote
      </pre>
    </div>
    <div id="mkd_code" class="hide_mkd_block menu_style">
      <p><b>To create an inline code snipet use a single `</b></p><br>
      <pre class="mk_font">
Python `class` keyword
      </pre><br>
      <p><b>To create a code block, use <code>```</code></b></p><br>
      <pre class="mk_font">
```
class Item:
def __init__(self, *args, **kwargs):
   pass
```
      </pre>
    </div>
  </div>
</div>
