
<div id="posted_{{ id }}">
  <div class="rating_box">
    <div class="vote">
      <svg class="vote_button">
        <polygon id="like_{{ id }}" points="0,20 15,0 30,20" class="not_voted"/>
      </svg>
      <p id="{{ id }}_score"class="posted_score">{{ post.score }}</p>
      <svg class="vote_button">
        <polygon id="dislike_{{ id }}" points="0,0 15,20 30,0" class="not_voted" />
      </svg>
    </div>
    <div id="{{ id }}" class="post_body_content">
      <p class="_post_body_content post_content">{{ post.body }}</p>
    </div>
  </div>
  <div class="post_profile_author">
    <p>posted by <a href="{% url 'authors:profile' id=post.profile.id %}">{{ post.profile.user }}</a>   on: {{ post.date|date:"n/t/Y"  }}</p>
  </div>
  {% if post.profile.user == request.user %}
    <ul class="option_list">
      <li class="post_option"><a class="blk_link" href="{{ url }}">Edit</a></li>
      <li id="delete_{{ id }}" class="post_option blk_link">Delete</li>
    </ul>
{% endif %}
</div>
{% comment "{{ id }}" %}{% endcomment %}
