
{% extends 'index.html' %}
{% load static %}
{% load identifiers %}
{% load humanize %}
{% block page_content %}
  {{ block.super }}
  <div class="main_topic_wrapper">
    <div class="main_topic">
        {% if messages %}
          <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
        <h2 class="question_title" id="question_{{ question.id }}">{{ question.title }}</h2>
        <div class="page_stats">
          <p class="page_stat">asked {{ question.date }} </p>{% if request.resolver_match.url_name == "question" %}<p class="page_stat">  - viewed {{ hit_count }} time{{ hit_count|pluralize }}</p>{% endif %}
        </div>
        {% voting_booth question %}
        {% if request.resolver_match.url_name == "question" %}
          <ul class="list tagging">
          {% for tag in question.tags.all %}
            <li class="inline_linked tag bg-blue"><a class="inline_anchor" href='{% url "posts:tagged" tags=tag|lower %}'>{{ tag }}</a></li>
          {% endfor %}
          </ul>

        {% endif %}
        <div class="question_answers">
        {% if request.resolver_match.url_name == "question" %}
          <h3 class="total_answers"><span id="question_answer_count">{{ answer_count }}</span> answers</h3>
            {% if answer_count >= 1 %}
              {% for answer in question.answers.all %}
                {% voting_booth answer %}
                <!-- {% if request.user.is_authenticated and answer.profile.user == request.user %}
                  <ul class="option_list">
                    <li class="post_option"><a class="blk_link" href="{% url 'posts:answer_edit' question_id=question.id answer_id=answer.id %}">Edit</a></li>
                    <li id="delete_answer_{{ answer.id }}" class="post_option blk_link">Delete</li>
                  </ul>
                {% endif %} -->
              {% endfor %}
            {% endif %}
        {% endif %}
        {% if request.user.is_authenticated %}
        <div class="posted_answer_form">
          {% include "./markdown_help.html" %}
          <div class="post_draft" id="post_preview_answer"></div>
          {% if form.errors %}
            <ul class="list form_submission_errors">
            {% for error in form.errors %}
              <li>{{ error }}</li>
            {% endfor %}
            </ul>
          {% endif %}
          {% if request.resolver_match.url_name == "question" %}
            <form action="{% url 'posts:question' question_id=question.id %}" method="post" id="postform">
          {% else %}
            <form action="{% url 'posts:answer_edit' question_id=question.id answer_id=answer.id %}" method="post">
          {% endif %}
            {% csrf_token %}
            {% for field in answer_form %}
              <p class="field_help_text">{{ field.help_text }}</p>
              {{ field }}
            {% endfor %}
            {% if request.resolver_match.url_name == "question" %}
              <button type="submit">Answer Question</button>
            {% else %}
              <button type="submit">Edit Answer</button>
            {% endif %}
          </form>
        </div>
        {% else %}
          <p class="user_login_message">Register a new account or login into an existing to contribute to the community.</p>
        {% endif %}
    </div>
  </div>
  {% if not question.visible %}
    <div id="post_temp_blocked" class="temp_removed">
      <p class="delete_message">This post is temporaily deleted. Click "Undelete" to display post.</p>
    </div>
  {% endif %}
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script type="module" src="{% static 'posts/js/render_posts.js' %}"></script>
  {% if request.resolver_match.url_name == 'ask' or request.resolver_match.url_name == "question" %}
    <!-- <script type="module" src="{% static 'posts/js/create_answer.js' %}"></script> -->
  {% endif %}
  <script type="module" src="{% static 'posts/js/votings.js' %}"></script>
  {% if request.user.is_authenticated %}
    <script type="module" src="{% static 'posts/js/create_answer.js' %}"></script>
    <script type="module" src="{% static 'posts/js/bookmark_post.js' %}"></script>
  {% endif %}
  {% if request.resolver_match.url_name == "question" %}
    <script type="module" src="{% static 'posts/js/delete_post.js' %}"></script>
  {% endif %}
{% endblock %}
