<div class="{{ class }}">
  <div class="question_stats">
    <p class="stat">{{ question.score }} vote{{ question.score|pluralize }}</p>{% if question.answers.count %}<p class="stat answered_post">{{ question.answers.count }} answer{{ question.answers.count|pluralize  }}</p>{% else %}<p class="stat">{{ question.answers.count }} answer{{ question.answers.count|pluralize  }}</p>{% endif %}<p class="stat">{{ question.page_hits.count }} view{{ question.page_hits.count|pluralize  }}</p>
  </div>
  <div class="question_content">
    <h3><a class="linked" href="{% url 'posts:question' question_id=question.id %}/">{{ question.title }}</a></h3>
    {% if request.resolver_match.url_name != "main" %}
      <p>{{ question.body|truncatewords:25 }}</p>
    {% endif %}
    <div class="inline_tags_author">
      <div class="linked_tags_list">
      {% for tag in question.tags.all %}
        <a class="linked tag bg-blue" href="{% url 'posts:tagged' tags=tag|lower %}">{{ tag }}</a>
      {% endfor %}
      </div>
      <p class="authored_by"><a href="{% url 'authors:profile' id=question.profile.id %}">{{ question.profile.user }}</a> {% if question.answers.count %}answered{% else %}asked{% endif %} {{ question.date|date:"m/d/Y" }}</p>
    </div>
  </div>
</div>
